<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Music Quiz </title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="midterm.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body class="body-class" ng-controller="myController">
	<div class="container-fluid">
		<div class="jumbotron container-fluid">
			<div class="row">
				<h1>Music Scale Quiz!</h1>
				<h4>Select a Key and a Scale, and select the correct notes to win!</h4>
			</div>
		</div>
		<nav class="navbar navbar-default">
		  	<div class="container-fluid">
				    		<p class="navbar-text">Key:<select ng-model="selectKeys" name="Key" class="navbar-btn">
				    			<option value="{{key.key}}" ng-repeat="key in keysArray | limitTo: 12">{{key.key}}</option>
				    		</select></p>
				    		<p class="navbar-text">Scale:<select ng-model="selectScale" name="Scale" class="navbar-btn">
				    			<option value="{{$index}}" ng-repeat="scale in scalesArray">{{scale.scaleName}}</option>
				    		</select></p>
				    		<button class="btn-lg btn-primary navbar-btn pull-right" type="button" ng-click="setKeyScale()">Set Key/Scale</button>
		  	</div>
		</nav>
					
		<div class="row">
			<div class="col-xs-4 col-sm-2">
				<audio id="aNote" src="39197__jobro__piano-ff-049.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('aNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="aButtonClick()">  A  </button>
			</div>
			<div class="col-xs-4 col-sm-2">
				<audio id="bbNote" src="39198__jobro__piano-ff-050.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('bbNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="bbButtonClick()">A#/Bb</button>
			</div>
			<div class="col-xs-4 col-sm-2">
				<audio id="bNote" src="39199__jobro__piano-ff-051.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('bNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="bButtonClick()">  B  </button>
			</div>
			<div class="col-xs-4 col-sm-2">
				<audio id="cNote" src="39200__jobro__piano-ff-052.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('cNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="cButtonClick()">  C  </button>
			</div>
			<div class="col-xs-4 col-sm-2">
				<audio id="dbNote" src="39201__jobro__piano-ff-053.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('dbNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="dbButtonClick()">C#/Db</button>
			</div>
			<div class="col-xs-4 col-sm-2">
				<audio id="dNote" src="39202__jobro__piano-ff-054.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('dNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="dButtonClick()">  D  </button>
			</div>
			<div class="col-xs-4 col-sm-2">
				<audio id="ebNote" src="39203__jobro__piano-ff-055.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('ebNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="ebButtonClick()">D#/Eb</button>
			</div>
			<div class="col-xs-4 col-sm-2">
				<audio id="eNote" src="39204__jobro__piano-ff-056.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('eNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="eButtonClick()">  E  </button>
			</div>
			<div class="col-xs-4 col-sm-2">
				<audio id="fNote" src="39205__jobro__piano-ff-057.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('fNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="fButtonClick()">  F  </button>
			</div>
			<div class="col-xs-4 col-sm-2">
				<audio id="gbNote" src="39206__jobro__piano-ff-058.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('gbNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="gbButtonClick()">F#/Gb</button>
			</div>
			<div class="col-xs-4 col-sm-2">
				<audio id="gNote" src="39207__jobro__piano-ff-059.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('gNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="gButtonClick()">  G  </button>
			</div>
			<div class="col-xs-4 col-sm-2">
				<audio id="abNote" src="39208__jobro__piano-ff-060.wav" preload="auto"></audio>
				<button type="button" onclick="document.getElementById('abNote').play();" class="btn btn-block btn-primary" data-toggle="button" aria-pressed="false" autocomplete="false" ng-click="abButtonClick()">G#/Ab</button>
			</div>
			<div class="col-xs-4 col-sm-2" style="margin-top:40px">
				<button type="button" class="btn btn-block btn-default btn-lg" ng-click="submitButtonClick()">Submit!</button>
			</div>
		</div>
		<h2>Score:  {{points}}</h2>
	</div>

	<script language="javascript" type="text/javascript" src="midterm.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>